<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h3>Please update your post:</h3>

    <form class="form edit-post-form" id="edit-post-form" data-id="{{id}}">
      <div class="form-group">
        <label for="edit-post-title">Post Title:</label>
        <input class="form-input" type="text" id="edit-post-title" name="edit-post-title"value="{{title}}" />
      </div>
      <div class="form-group">
        <label for="edit-post-content">Content:</label>
        <textarea class="form-input" id="edit-post-content" name="edit-post-content">{{content}}</textarea>
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-new-post text-white"style="background:#669e9a;">+ UPDATE</button>
      </div>
    </form>
  </div>
  
  
</div>

<script src="../../../js/editpost.js"></script>
